.main-section {
    border: 1px solid #000;
    width: 100%;
}

.left-sidebar {
    background-color: #3a3a3a;
    padding: 0px;
}

.searchbox {
    width: 100%;
    padding: 27px 10px;
    border-bottom: 2px solid #000;
}

.form-control,
.search-icon,
.search-icon:hover {
    background-color: #6a6c75;
    border: 1px solid #fff;
    color: #fff;
    box-shadow: none !important;
}

.form-control:focus {
    border: 1px solid #fff;
}

.chat-left-img,
.chat-left-details {
    float: left;
}

.left-chat {
    overflow-y: auto;
}

.left-chat h6 {
    color: white;
    margin: 20px 0 0 20px;
}

.left-chat ul {
    overflow: hidden;
    padding: 0px;
}

.left-chat ul li {
    list-style: none;
    width: 100%;
    float: left;
    margin: 10px 0px 8px 15px;
}

.chat-left-img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: left;
    float: fixed;
    border: 3px solid #6b6f79;
}

.chat-left-details {
    margin-left: 10px;
}

.chat-left-details p {
    margin: 0px;
    color: #fff;
    padding: 7px 0px 0px;
}

.chat-left-details span {
    color: #b8bac3;
}

.chat-left-details span i {
    color: #86bb71;
    font-size: 10px;
}

/* still using it? */
.chat-left-details .orange {
    color: #e38968;
}

.right-sidebar {
    border-left: 2px solid #000;
}

.right-header {
    border-bottom: 2px solid #000;
    margin: 0px;
    padding: 20px;
    height: 90px;
    background-color: #3a3a3a;
}

.right-header-img img {
    width: 50px;
    height: 50px;
    float: left;
    border-radius: 50%;
    border: 3px solid #61bc71;
    margin-right: 10px;
}

.right-header-detail p {
    margin: 0px;
    color: #fff;
    font-weight: bold;
    padding-top: 5px;
}

.right-header-detail span {
    color: #9fa5af;
    font-size: 12px;
}

.rightside-left-chat,
.rightside-right-chat {
    float: left;
    /*not needed for right*/
    width: 80%;
    position: relative;
}

.rightside-right-chat {
    float: right;
    margin-right: 35px;
}

.right-header-contentChat {
    overflow-y: scroll;
    background-color: #ffffff;
    position: relative;
}

.right-header-contentChat ul li {
    list-style: none;
    margin-top: 20px;
}

.right-header-contentChat .rightside-left-chat p,
.right-header-contentChat .rightside-right-chat p {
    background-color: #86bb71;
    padding: 15px;
    border-radius: 8px;
    color: #fff;
}

.right-header-contentChat .rightside-right-chat p {
    background-color: #94c2ed;
}

.right-chat-textbox {
    padding: 15px 30px;
    width: 100%;
    background-color: #3a3a3a;
}

.right-chat-textbox input {
    width: 80%;
    height: 40px;
    border: 2px solid #3d85ca;
    /* border: 1px solid #c1c1c1; */
    border-radius: 5px;
    padding: 0px 10px;
}

.right-chat-textbox button {
    height: 40px;
    width: 70px;
    margin-left: 20px;
    background-color: lightgray;
}

.rightside-left-chat span i,
.rightside-right-chat span i {
    color: #86bb71;
    /*not needed for right*/
    font-size: 12px;
}

.rightside-right-chat span i {
    color: #94c2ed;
}

.rightside-right-chat span {
    float: right;
}

.rightside-right-chat span small,
.rightside-left-chat span small {
    color: #bdbdc2;
}

.rightside-left-chat::before {
    content: " ";
    position: absolute;
    top: 14px;
    left: 15px;
    bottom: 150px;
    border: 15px solid transparent;
    border-bottom-color: #86bb71;
    z-index: 1;
}

.rightside-right-chat::before {
    content: " ";
    position: absolute;
    top: 14px;
    right: 15px;
    bottom: 150px;
    border: 15px solid transparent;
    border-bottom-color: #94c2ed;
}

@media only screen and (max-width:320px) {
    .main-section {
        display: none;
    }
}

.navbar-nav li a {
    text-decoration: none;
    font-size: 20px;
}

/* upload picture modal */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
    max-width: 400px;
    margin: auto;
    text-align: center;
    font-family: arial;
}

.card img {
    height: 200px;
}

.title {
    color: gray;
    font-size: 18px;
}

#button_profile {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 9px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

#update_profile {
    position: absolute;
    cursor: pointer;
    padding: 10px;
    /* padding: 7px; */
    border-radius: 4px;
    color: white;
    background-color: #000;
    display: table;
}

input[type="file"] {
    display: none;
}

/* end modal */